.pessoa__imagem {
        background: red;
        border-radius: 100%;
        height: 300px;
        margin: 0 auto;
        width: 300px;
        
  }
.pessoa__imagem--roberta {
    
      background: url('../../img/pessoas/roberta.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.pessoa__imagem--marcela {
   
      background: url(../../img/pessoas/marcela.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.pessoa__imagem--andreia {
     
      background: url(../../img/pessoas/andreia.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}