.pessoa__imagem {
    background: red;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
   
}

.pessoa__imagem--roberta {
    background: url('../../img/pessoas/roberta.jpg');
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pessoa__imagem--marcela {
    background: url(../../img/pessoas/marcela.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pessoa__imagem--andreia {
    background: url(../../img/pessoas/andreia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}