@import url('pessoa/pesoa__imagem.css');
@import url('pessoa/pessoa-funcao.css');
@import url('pessoa/pessoa-nome.css');
@import url('pessoa/pessoa.css');


.pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}